<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome! 2{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>PRUEBA
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
